.footer {
  height: 400px;
  position: relative;
  background-color: #f5f6f7;
  color: #1a1a1a;
}
.footer .footer-content {
  width: 100%;
  height: 325px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer .footer-content .footer-section {
  padding: 25px;
}

.footer .footer-bottom {
  height: 50px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
}

.logo-text {
  color: #116149;
}
