.card{
    max-width: 18rem;
    margin-left: 20%;
    font-weight: bold;
    color: black;
    cursor: pointer;
}
.card:hover{
    color: purple;
    text-size-adjust: 20;
}
.card-title{
    color: black;
    font-weight: bold;
}
.card-text{
    color:rgb(54, 53, 53);
}