ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(53, 52, 52);
}

.header {
  background-color: #ffffff;
  //   margin-bottom: 60px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 20px;
  @extend .flexbox;

  //   header right
  .header__left {
    @extend .flexbox;

    .header__logo {
      margin-left: 20px;
    }

    .header__left__nav {
      @extend .flexbox;

      .header__left__nav__list {
        margin-left: 10px;
        font-weight: $weight;
        &:hover {
          color: $colour;
        }
      }
    }
  }

  //   header right
  .header__right {
    .header__right__nav {
      @extend .flexbox;
      margin-right: 10px;

      .header__right__nav__list {
        margin-left: 10px;
        font-weight: $weight;
        cursor: pointer;
        &:hover {
          color: $colour;
        }
      }
    }
  }
}
.menuBar {
  margin-left: 7px;
  display: none;
  z-index: 100;
}
@media screen and (max-width: 760px) {
  .menuBar {
    display: block;
  }
  .header {
    .header__left {
      .header__left__nav {
        flex-direction: column;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #ffffff;
        width: 100%;
        height: 85vh;
        padding: 60px;
        z-index: 100;
        transform: translateX(-730px);
        transition: transform 0.2s ease-in-out;
        li {
          margin: 0 50px;
          padding: 0 30px;
          font-size: 14px;
        }
      }
      .header__left__nav.show {
        transform: translateX(-100px);
      }
    }
  }
}
